<h1 class="app-header__title">{{title}}</h1>
<nav class="app-header__nav">
  {{#link-to "index" class="app-header__link"}}Home{{/link-to}}
  {{#link-to "about" class="app-header__link"}}About{{/link-to}}
  {{#link-to "experience" class="app-header__link"}}Experience{{/link-to}}
</nav>
