<h1 class="app-header__title">{{title}}</h1>
<nav class="app-header__nav">
  <a class="app-header__link" href="#">Home</a>
  <a class="app-header__link" href="#">About</a>
  <a class="app-header__link" href="#">Experience</a>
</nav>
