$green: #4CAF50;
$darkGreen: #1B5E20;
$lightGreen: #A5D6A7;
$accentGreen: #00E676;

$indigo: #3F51B5;
$darkIndigo: #303F9F;
$lightIndigo: #9FA8DA;
$xlightIndigo: #C5CAE9;

$grey: #9E9E9E;
$lightGrey: #E0E0E0;
$xlightGrey: #F5F5F5;
$darkGrey: #616161;
$xdarkGrey: #424242;
