.app-header {
  background-color: $indigo;
  display: flex;

  &__title {
    flex: 0 1 auto;
    text-transform: uppercase;
    color: $xlightIndigo;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.2em;
    margin: 5px;
    padding: 8px;
    text-decoration: none;
    transition: font-size 200ms;
  }

  &__nav {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
  }

  &__link {
    font-weight: 100;
    padding: 10px;
    background-color: $lightIndigo;
    margin: 5px;
    color: $indigo;
    text-decoration: none;
    transition: background-color 200ms;
    font-size: 14px;
    border-radius: 3px;
  }

  @media(max-width: 800px) {
    &__title {
      font-size: 12px;
    }

    &__link {
      font-size: 8px;
    }
  }

  &__link:hover {
    background-color: white;
  }
}

@media(max-width: 600px) {
  .app-header {
    display: block;
    
    &__link {
      display: block;
      width: 100%;
    }
  }
}
