{{lazytype-greeting text="Welcome to wkashdan.com"}}
<p class="center-text">My site is under construction, but feel free to visit my
  <a href='http://github.com/wkashdan'>github</a> or
  <a href='http://linkedin.com/in/wkashdan'>linkedin</a>
  in the meantime
</p>
